{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Movies Store :: {% endblock title %}</title>
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}" ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <!-- Header -->
    {% include 'inc/header.html' %}
    <!-- Header -->
    <!-- Content -->
    <div>
        {% block content %}
        {% endblock content %}
    </div>
    <!-- Content ends -->
    <!-- Footer -->
    {% include 'inc/footer.html' %}
    <!-- Footer -->
</body>
</html>